html, body { height: 100%; }

.full-size {
  width: 100%;
  height: 100%;
}

.app-container {
  background: var(--surface-alt);
}

.child-container {
  height: calc(100% - 64px);
  overflow-y: auto;
}
